$mainColor: rgba(255, 0, 0, 0.999);
$mainColorDark: rgba(255, 0, 0, 0.6);
$mainColorDarker: rgba(255, 0, 0, 0.3);
$mainPageColor: black;
$controllsHeight: 5vh;
$cellHeight: 10%;
$cellWidth: 16.66666667%;
// $maxWrapWidth: 800px;